NEXT_PUBLIC_GITHUB_ID="Ov23li4ck49mgFPiyC2E"
NEXT_PUBLIC_GITHUB_SECRET="c1d543a2d8989c8f88deca73b62807275b1150ca"
NEXT_PUBLIC_GOOGLE_ID="435741793981-csao0g63j8f0f6a0ldt922fvivgrrcb5.apps.googleusercontent.com"
NEXT_PUBLIC_GOOGLE_SECRET="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"

NEXT_PUBLIC_SECRET="safasgretrewa"


NEXT_PUBLIC_CLIENT_SITE_URL="http://localhost:3000/"
NEXT_PUBLIC_BACKENED_URL="http://localhost:2500/api/v1"


NEXT_PUBLIC_apiKey="AIzaSyDhU2c-K0DAcf8xK6RDZoOfJhRzsrtSYow"
NEXT_PUBLIC_authDomain="photographer-portfolio-98b67.firebaseapp.com"
NEXT_PUBLIC_projectId="photographer-portfolio-98b67"
NEXT_PUBLIC_storageBucket="photographer-portfolio-98b67.appspot.com"
NEXT_PUBLIC_messagingSenderId="1024891189118"
NEXT_PUBLIC_appId="1:1024891189118:web:c824c8daa501d67a4d252f"

NEXT_PUBLIC_API_URL="https://server-for-photographer-portfolio-website.vercel.app"