.top-category-1{
  background-image: url("https://meds-theme.myshopify.com/cdn/shop/files/abo-01.jpg?v=1628687766&width=1500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 450px;
}
.top-category-2{
  background-image: url("https://meds-theme.myshopify.com/cdn/shop/files/img-7.jpg?v=1613729012&width=750");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 450px;
}
.mid-div {
  background-image: url("https://medi.arenacommerce.com/cdn/shop/files/home1-banner-11_1208x.png?v=1613557313");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 150px;
}

.mid-div2 {
  background-image: url("https://medi.arenacommerce.com/cdn/shop/files/home2-banner-4_360x.png?v=1613575475");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 150px;
}
